{% extends "bootstrap/base.html" %}

{% block title %} Список объектов {% endblock %}

{% block content %}

    {% if session['email'] %}
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <span class="navbar-brand">{{session['email']}}</span>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href={{ url_for('object_list.obj_list') }}><span class="glyphicon glyphicon-list-alt"></span> Объекты</a></li>
          <li><a href={{ url_for('users.logout') }}><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
        </ul>
      </div>
    </nav>

    {% endif %}

    <div class="container">
    
    <h2>Список объектов</h2>

    
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th>Комментарий</th>
        <th>Последнее обновление</th>
      </tr>
    </thead>
    <tbody>
      {% for ob in objects %}
        <tr>
        
          <td><a href={{ url_for('object_state.state') }} class="btn btn-link" role="button">{{ob.name}}</a></td>
          <td>{{ob.comment}}</td>
          <td> 
            {%if ob.upd_time %} {{ob.upd_time}}  {%else%} нет данных {% endif %}
            
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    
{% endblock %}