{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}"
{% endblock %}

{% block title %} Список объектов {% endblock %}

{% block body_attribs %}
    onload='init_update();'
{% endblock %}

{% block content %}

    {% if session['email'] %}
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <span class="navbar-brand">{{session['email']}}</span>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href={{ url_for('object_list.obj_list') }}><span class="glyphicon glyphicon-list-alt"></span> Объекты</a></li>
          <li><a href={{ url_for('users.logout') }}><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
        </ul>
      </div>
    </nav>

    {% endif %}

    <div class="container">
    
    <h2>Список объектов</h2>

    
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th>Комментарий</th>
        <th>Последнее обновление</th>
      </tr>
    </thead>
    <tbody>
      {% for ob in objects %}
      {% if ob.enable %}
        <tr>
        
          <td><a href={{ url_for('object_state.state',id=ob.id) }} class="btn btn-link" role="button">{{ob.name}}</a></td>
          <td>{{ob.comment}}</td>
          <td id="upd_time{{objects.index(ob)}}"> 
            {%if ob.input_data[0].upd_time %} {{ob.input_data[0].upd_time}}  {%else%} нет данных {% endif %}
            
          </td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
    </table>
    </div>
    
    <script>
    
        var ajax_get = function(url, callback) {
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    try {
                        var data = JSON.parse(xmlhttp.responseText);
                    } catch(err) {
                        return;
                    }
                    callback(data);
                }
            };
     
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        };
    
        function loadTime() {
            ajax_get('/list_upd?r=' + Math.random(), function(data) {
                for (i = 0; i < data.upd_time.length; i++) {
                    document.getElementById('upd_time' + i.toString()).innerHTML = data.upd_time[i];
                }
            });
        }
    
        function init_update() {
            loadTime();
            setInterval(loadTime, 2000);
        }
    </script>
    
{% endblock %}