{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}"
{% endblock %}

{% block title %} Состояние объекта {% endblock %}

{% block body_attribs %}
    onload='init();'
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <span class="navbar-brand">{{obj_var.name}} (последний опрос: <span id="cur_time">{{obj_var.upd_time}}</span>)</span>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href={{ url_for('object_list.obj_list') }}><span class="glyphicon glyphicon-list-alt"></span> Объекты</a></li>
          <li><a href={{ url_for('users.logout') }}><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#di">Дискр. сигналы</a></li>
          <li><a data-toggle="tab" href="#ai">Аналог. сигналы</a></li>
          <li><a data-toggle="tab" href="#mess">Сообщения</a></li>
        </ul>
        <div class="tab-content">
            <div id="di" class="tab-pane fade in active">
              <p></p>
              <table class="table table-striped">
              <thead>
                <tr>
                    <th>Название</th>
                    <th>Комментарий</th>
                    <th>Состояние</th>
                </tr>
              </thead>
              <tbody>
              {% for di_var in obj_var.discr %}
                  <tr>
                    <td>{{di_var[0]}}</td>
                    <td>{{di_var[1]}}</td>
                    <td id="di{{obj_var.discr.index(di_var)}}">{{di_var[2]}}</td>
                  </tr>
              {% endfor %}
              </tbody>
            
              </table>
            </div>
            <div id="ai" class="tab-pane fade">
              <p></p>
              <table class="table table-striped">
              <thead>
                <tr>
                    <th>Название</th>
                    <th>Комментарий</th>
                    <th>Значение</th>
                    <th>Ед. измер.</th>
                </tr>
              </thead>
              <tbody>
              {% for ai_var in obj_var.analog %}
                  <tr>
                    <td>{{ai_var[0]}}</td>
                    <td>{{ai_var[1]}}</td>
                    <td id="ai{{obj_var.analog.index(ai_var)}}">{{"{:.3f}".format(ai_var[3])}}</td>
                    <td>{{ai_var[2]}}</td>
                  </tr>
              {% endfor %}
              </tbody>
              </table>
            </div>
            <div id="mess" class="tab-pane fade">
              {% for ms_var in obj_var.messages %}
                  {% if ms_var[1]==0 %}
                      <div class="alert alert-info">
                  {% endif %}
                  {% if ms_var[1]==1 %}
                      <div class="alert alert-warning">
                  {% endif %}
                  {% if ms_var[1]==2 %}
                      <div class="alert alert-danger">
                  {% endif %}
                  {{ms_var[0]}}
                  </div>
              {% endfor %}
            </div>
        </div>
    </div>
    <script>
        var ajax_get = function(url, callback) {
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    try {
                        var data = JSON.parse(xmlhttp.responseText);
                    } catch(err) {
                        return;
                    }
                    callback(data);
                }
            };
     
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        };
    
        function loadData() {
            ajax_get('/obj_info/{{obj_var.id}}?r=' + Math.random(), function(data) {
                for (i = 0; i < data.di.length; i++) {
                    document.getElementById('di' + i.toString()).innerHTML = data.di[i];
                }
                for (i = 0; i < data.ai.length; i++) {
                    document.getElementById('ai' + i.toString()).innerHTML = data.ai[i].toFixed(3);
                }
                ms_str="<p></p>";
                for(i=0;i<data.alarm.length;i++) {
                    ms_str+='<div class="alert alert-danger">';
                    ms_str+=data.alarm[i];
                    ms_str+='</div>';
                }
                for(i=0;i<data.warning.length;i++) {
                    ms_str+='<div class="alert alert-warning">';
                    ms_str+=data.warning[i];
                    ms_str+='</div>';
                }
                for(i=0;i<data.info.length;i++) {
                    ms_str+='<div class="alert alert-info">';
                    ms_str+=data.info[i];
                    ms_str+='</div>';
                }
                document.getElementById('mess').innerHTML = ms_str;
                document.getElementById('cur_time').innerHTML = data.time;
            });
        }
    
        function init() {
            loadData();
            setInterval(loadData, 2000);
        }
    </script>
{% endblock %}